@use '../../styles/partials' as *;

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 16px;
  cursor: pointer;
  text-decoration: none;
}

.active_link {
  @extend .link;
}

.icon {
  width: 65px;
  height: 65px;
}

.active_icon {
  @extend .icon;
  display: none;
}

.link:hover .icon,
.link:focus .icon,
.active_link .icon {
  display: none;
}

.link:hover .active_icon,
.link:focus .active_icon,
.active_link .active_icon {
  display: initial;
}

.destination_name {
  visibility: hidden;
  font-family: $font-family-lato;
  font-weight: $font-weight-regular;
  font-size: 15px;
  color: $color-white;
}

.link:hover .destination_name,
.link:focus .destination_name,
.active_link .destination_name {
  visibility: visible;
}
