@use '../../styles/partials' as *;

.partners_list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.partners_list li:nth-child(even) {
  background-color: $color-yellow;
}

.controls_list_item {
  display: flex;
  justify-content: center;
  font-family: $font-family-lato;
  font-weight: $font-weight-regular;
  font-size: 16px;
  padding: 10px 0;
}

.controls_list_item_content {
  width: 100%;
  max-width: 645px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select_all_group {
  display: flex;
  align-items: center;
}

.delete_button {
  background-color: transparent;
  border: none;
}
