@use '../../styles/partials' as *;

.container {
  display: flex;
  max-width: 100%;
}

.file_picker_button {
  margin-right: 10px;
}

.selected_file {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.selected_file_name {
  font-family: $font-family-lato;
  font-weight: $font-weight-regular;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.file_icon {
  height: 15px;
  width: auto;
  margin-right: 3px;
}

.delete_button {
  background-color: transparent;
  border: none;
  margin: 2px 0 0 3px;
  padding: 0;
}

.delete_icon {
  width: 25px;
  height: 25px;
}
